@font-face {
  font-family: "Circe bold";
  src: url("../fonts/Circe-bold.eot");
  src: url("../fonts/Circe-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-bold.woff") format("woff"), url("../fonts/Circe-bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Circe ExtraBold";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Circe light";
  src: url("../fonts/Circe-light.eot");
  src: url("../fonts/Circe-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-light.woff") format("woff"), url("../fonts/Circe-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe ExtraLight";
  src: url("../fonts/Circe-ExtraLight.eot");
  src: url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe Regular";
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe Thin";
  src: url("../fonts/Circe-Thin.eot");
  src: url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.header {
  background-color: #f3ede8;
  background-image: url("../img/bk-header.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1036px;
}

.header-text {
  padding-top: 94px;
  color: #ffffff;
}

.header-text h1 {
  padding-bottom: 29px;
  font-size: 48px;
  font-family: Circe bold;
  line-height: 58px;
  width: 623px;
  border-bottom: 2px solid #fcbc31;
}

.header-text p {
  opacity: 0.8;
  margin-left: -3px;
  line-height: 34px;
  padding-top: 27px;
  width: 623px;
  font-family: Circe light;
  font-size: 28px;
}

.header-text__intense {
  padding-top: 81px;
  color: #000000;
  font-family: Circe bold;
  font-size: 28px;
  text-align: right;
}

.header-text h2 {
  padding-top: 33px;
  color: #000000;
  font-size: 48px;
  font-family: Circe bold;
  text-align: center;
  line-height: 50px;
}

.header-text h2 span {
  color: #ffffff;
}

.header-text h2 span:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fcbc31;
  width: 623px;
  margin-top: 85px;
  margin-left: 78px;
}

.header-text__create {
  font-size: 28px;
  text-align: center;
  font-family: Circe bold;
  color: #000000;
  padding-top: 74px;
  line-height: 37px;
  margin-left: -5px;
}

.participation {
  -webkit-transform: skewY(-20deg);
  transform: skewY(-6deg);
  background-color: #f3ede8;
  min-height: 528px;
  margin-top: -96px;
}

.participation__text {
  padding-top: 96px;
  width: 346px;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.participation__text__data {
  font-family: Circe ExtraBold;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  width: 134px;
}

.participation__text__button {
  height: 125px;
}

.participation__text__button button {
  border: 0;
  border-radius: 50px;
  padding: 24px;
  font-family: Circe Regular;
  font-size: 28px;
  width: 436px;
  margin-top: 33px;
  margin-left: -46px;
  background-color: #fcbc31;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.participation__text__button button:hover {
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 2px 2px 2px black;
          box-shadow: inset 2px 2px 2px black;
}

.participation__text__places {
  padding-top: 35px;
  font-family: Circe Regular;
  font-size: 28px;
}

.participation__img {
  width: 531px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  padding-left: 119px;
  padding-top: 33px;
}

.participation__img:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.participation__img__1 {
  background-color: #a49990;
  margin-top: 33px;
}

.participation__img__2 {
  background-color: #fcbc31;
  margin-left: 24px;
  margin-bottom: 35px;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

.container {
  width: 902px;
  margin: 0 auto;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */