@charset "UTF-8";
@font-face {
  font-family: "Circe bold";
  src: url("../fonts/Circe-bold.eot");
  src: url("../fonts/Circe-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-bold.woff") format("woff"), url("../fonts/Circe-bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Circe ExtraBold";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Circe light";
  src: url("../fonts/Circe-light.eot");
  src: url("../fonts/Circe-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-light.woff") format("woff"), url("../fonts/Circe-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe ExtraLight";
  src: url("../fonts/Circe-ExtraLight.eot");
  src: url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe Regular";
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe Thin";
  src: url("../fonts/Circe-Thin.eot");
  src: url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.header {
  background-color: #f3ede8;
  background-image: url("../img/bk-header.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1036px;
}

.header-text {
  padding-top: 97px;
  color: #ffffff;
  margin-left: -16px;
}

.header-text h1 {
  padding-bottom: 27px;
  font-size: 48px;
  font-family: Circe bold;
  line-height: 58px;
  width: 623px;
  border-bottom: 2px solid #fcbc31;
}

.header-text p {
  opacity: 0.8;
  margin-left: -3px;
  line-height: 34px;
  padding-top: 19px;
  width: 623px;
  font-family: Circe light;
  font-size: 28px;
}

.header-text__intense {
  padding-top: 58px;
  color: #000000;
  font-family: Circe bold;
  font-size: 28px;
  text-align: right;
}

.header-text h2 {
  padding-top: 40px;
  color: #000000;
  font-size: 48px;
  font-family: Circe bold;
  text-align: center;
  line-height: 50px;
  margin-left: 9px;
}

.header-text h2 span {
  color: #ffffff;
}

.header-text h2 span:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fcbc31;
  width: 623px;
  top: 753px;
  left: 349px;
}

.header-text__create {
  font-size: 28px;
  text-align: center;
  font-family: Circe bold;
  color: #000000;
  padding-top: 67px;
  line-height: 37px;
  margin-left: -5px;
}

.participation {
  -webkit-transform: skewY(-20deg);
  transform: skewY(-6deg);
  background-color: #f3ede8;
  min-height: 528px;
  margin-top: -96px;
}

.participation__text {
  padding-top: 93px;
  width: 346px;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.participation__text__data {
  font-family: Circe ExtraBold;
  font-size: 19px;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  margin-left: 12px;
}

.participation__text__button {
  height: 125px;
  margin-top: -6px;
}

.participation__text__button button {
  border: 0;
  border-radius: 50px;
  padding: 24px;
  font-family: Circe Regular;
  font-size: 28px;
  width: 436px;
  margin-top: 33px;
  margin-left: -46px;
  background-color: #fcbc31;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.participation__text__button button:hover {
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 2px 2px 2px black;
          box-shadow: inset 2px 2px 2px black;
}

.participation__text__places {
  padding-top: 35px;
  font-family: Circe Regular;
  font-size: 28px;
}

.participation__img {
  width: 531px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  padding-left: 119px;
  padding-top: 28px;
}

.participation__img:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.participation__img__1 {
  background-color: #a49990;
  margin-top: 33px;
}

.participation__img__2 {
  background-color: #fcbc31;
  margin-left: 24px;
  margin-bottom: 35px;
}

.intense {
  padding-top: 67px;
  padding-bottom: 45px;
}

.intense-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intense-headline h1 {
  text-align: center;
  font-size: 42px;
  font-family: Circe ExtraBold;
  line-height: 42px;
}

.intense-headline h1 span {
  color: #fcbc31;
}

.intense-wrap {
  margin-top: 60px;
  margin-left: -13px;
}

.intense-wrap:last-child {
  margin-left: 76px;
}

.intense-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.intense-block__text {
  font-family: Circe Regular;
  font-size: 20px;
  line-height: 25px;
  padding-left: 35px;
}

.check-list {
  background-color: #f3ede8;
  padding-top: 50px;
}

.check-list__button {
  margin-top: -12px;
}

.check-list__button button {
  width: 531px;
  padding: 18px;
  line-height: 28px;
  margin-left: -25px;
}

.check-list-headline h1 {
  font-size: 42px;
  line-height: 42px;
  font-family: Circe ExtraBold;
  text-align: center;
}

.check-list-headline h1 span {
  color: #fcbc31;
}

.check-list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 21px;
  margin-left: -40px;
}

.check-list__text__subtitle {
  font-size: 28px;
  font-family: Circe Regular;
  line-height: 32px;
  margin-left: -29px;
  padding-top: 5px;
}

.check-list__text ul {
  font-size: 20px;
  font-family: Circe Regular;
  color: #fcbc31;
  padding-top: 32px;
  line-height: 25px;
}

.check-list__text ul span {
  color: #000000;
}

.check-list__text ul li {
  padding-left: 10px;
}

.check-list__text ul li:last-child {
  padding-top: 39px;
}

.results {
  margin-top: -7px;
  background-image: url("../img/bk-result.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 73px;
}

.results-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-headline {
  padding-top: 47px;
  padding-bottom: 67px;
}

.results-headline h1 {
  font-size: 42px;
  color: #ffffff;
  font-family: Circe ExtraBold;
  text-align: center;
}

.results-headline h1 span {
  color: #fcbc31;
}

.results-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 432px;
  border: 3px solid #fcbc31;
  border-radius: 52px;
  padding: 0 0 55px;
}

.results-block:nth-child(3n) {
  margin-top: 54px;
}

.results-block:nth-child(4n) {
  margin-top: 54px;
}

.results-block__img {
  margin-top: -34px;
  margin-left: -10px;
}

.results-block__text {
  margin-top: 19px;
  width: 353px;
  text-align: center;
  font-family: Circe Regular;
  font-size: 20px;
  color: #ffffff;
  line-height: 26px;
}

.interesting {
  padding-bottom: 91px;
}

.interesting-headline {
  padding-top: 64px;
  padding-bottom: 54px;
}

.interesting-headline h1 {
  font-size: 42px;
  font-family: Circe ExtraBold;
  text-align: center;
}

.interesting-headline h1 span {
  color: #fcbc31;
}

.interesting-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 887px;
  padding-left: 11px;
}

.interesting-block__subtilte {
  width: 171px;
  font-size: 20px;
  font-family: Circe ExtraBold;
  text-align: right;
  position: relative;
  top: -15px;
  left: 28px;
  line-height: 25px;
}

.interesting-block__subtilte__2 {
  position: relative;
  width: 228px;
}

.interesting-block__img {
  position: relative;
  top: -11px;
  right: -43px;
}

.interesting-block__text {
  padding: 51px 44px 51px 85px;
  font-size: 20px;
  font-family: Circe Regular;
  line-height: 25px;
  width: 1041px;
  border: 3px solid #fcbc31;
  border-radius: 48px;
}

.interesting-block__text__2 {
  padding: 69px 16px 86px 84px;
}

.interesting-block__text__3 {
  padding: 39px 38px 41px 83px;
}

.interesting-block__2 {
  padding: 0;
  margin-left: -119px;
  margin-top: 28px;
  width: 911px;
}

.interesting-block__3 {
  margin-top: 31px;
  margin-left: -56px;
  width: 946px;
}

.program {
  min-height: 978px;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  background-color: #f8f7f6;
  padding-bottom: 85px;
}

.program-wrap {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  width: 1088px;
  margin: 0 auto;
}

.program-headline {
  padding-top: 76px;
  padding-bottom: 31px;
}

.program-headline h1 {
  font-size: 42px;
  font-family: Circe ExtraBold;
  text-align: center;
  line-height: 52px;
}

.program-headline h1 span {
  color: #fcbc31;
}

.program-block {
  text-align: center;
  width: 344px;
  min-height: 771px;
  margin-left: 10px;
}

.program-block:nth-child(2n) {
  margin-left: 9px;
}

.program-block:last-child {
  margin-right: 12px;
}

.program-block__subtilte {
  font-size: 28px;
  font-family: Circe ExtraBold;
  padding-bottom: 25px;
}

.program-block__subtilte span {
  color: #fcbc31;
}

.program-block__text {
  font-family: Circe Regular;
  font-size: 20px;
  border: 5px solid #fcbc31;
  border-top-left-radius: 15em 1em;
  border-bottom-right-radius: 15em 1em;
  padding: 27px;
  padding-bottom: 76px;
  height: 79%;
}

.program-block__text__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
}

.program-block__text__time img {
  margin-left: 20px;
}

.program-block__text ul {
  width: 262px;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  min-height: 218px;
}

.program-block__text ul li {
  width: 276px;
  line-height: 26px;
  margin-bottom: 5px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.program-block__text ul li:before {
  content: "⚫";
  color: #fcbc31;
  margin-right: 19px;
  margin-left: -4px;
}

.program-block__text__result {
  padding-top: 53px;
  padding-left: 8px;
  font-family: Circe bold;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  max-height: 218px;
}

.program-block__text__result span {
  display: block;
  padding-bottom: 8px;
}

.program-subtitle {
  margin-top: -138px;
}

.program-subtitle h1 {
  font-family: Circe Regular;
  font-size: 28px;
  text-align: center;
  margin-top: 95px;
}

.program-button {
  margin: -15px auto;
  width: 341px;
}

.row-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

.container {
  width: 902px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */