.interesting
    padding-bottom: 91px
    &-headline
        padding-top: 64px
        padding-bottom: 54px
        h1
            font-size: 42px
            +ExtraBold
            text-align: center
            span
                color: #fcbc31
    &-block
        display: flex
        align-items: center
        width: 887px
        padding-left: 11px
        &__subtilte
            width: 171px
            font-size: 20px
            +ExtraBold
            text-align: right
            position: relative;
            top: -15px
            left: 28px
            line-height: 25px
            &__2
                position: relative
                width: 228px
        &__img
            position: relative
            top: -11px
            right: -43px
        &__text
            padding: 51px 44px 51px 85px
            font-size: 20px
            +Regular
            line-height: 25px
            width: 1041px
            border: 3px solid #fcbc31
            border-radius: 48px
            &__2
                padding: 69px 16px 86px 84px
            &__3
                padding: 39px 38px 41px 83px
        &__2
            padding: 0
            margin-left: -119px
            margin-top: 28px
            width: 911px
        &__3
                margin-top: 31px
                margin-left: -56px
                width: 946px