@media (max-width: 1140px)
    .header-text
        h2
            span
                &:before
                    left: 202px
    .participation
        &__text
            margin-left: 8px
        &__img
            padding-left: 65px
    .interesting
        &-block
            &__2
                margin-left: -39px
    .program-block
        width: 315px
        margin-left: 22px
        &:nth-child(2n) 
            margin-left: -14px
        &:last-child
                margin-right: 130px
                margin-left: -16px
@media (max-width: 992px)
    .header
        &-text
            h2
                span
                    &:before
                        width: 402px
                        top: 783px
            &__create
                padding-top: 19px
                padding-left: 55px
    .participation
        &__img
            padding-left: 0
            margin: 0 auto
        &__text
            margin: 0 auto
            padding-top: 13px
            padding-bottom: 13px
    .check-list
        &__wrap
            flex-direction: column
            width: 58%
            margin: 0 auto
            padding-bottom: 30px
    .results
        background-position: 71% 1%
        &-block
            width: 351px
            &__text
                font-size: 18px
    .interesting
        &-headline
            padding-top: 0px
            padding-bottom: 35px
        &-block
            width: 704px
            &__subtilte
                font-size: 18px
            &__2
                margin-left: -12px
            &__3
                margin-left: -14px
    .program
        &-wrap
            width: 100%
            margin: 0 auto
        &-block
            margin-left: 0
            min-height: 690px
            &:nth-child(2n)
                margin-left: 0
            &:last-child
                margin: 0
        &-subtitle
            margin-top: -64px
    .row-wrap
        flex-direction: column
        margin: 0 auto
        width: 328px
@media (max-width: 767px)
    .container
        width: 90%
    .header
        height: 806px
        background-position: -900px -100px
        &-text
            padding-top: 84px
            h1
               font-size: 36px
               line-height: 37px
               width: 100%
            p
               font-size: 18px
               line-height: 29px
               width: 100%
            &__intense
                font-size: 20px
                padding-top: 29px
            h2
                padding-top: 17px
                line-height: 33px
                font-size: 32px
                margin-bottom: 21px

            &__create
                padding: 20px 0
                font-size: 24px
                line-height: 28px
                border-top: 2px solid #fcbc31
    .participation
        &__img
            img
                width: 200px
        &__text
            &__data
                h2
                    font-size: 20px
            &__button
                    margin-top: -27px
                    button
                        padding: 18px
                        font-size: 21px
                        width: 100%
                        margin: 31px auto
            &__places
                font-size: 19px
                padding-top: 0
                text-align: center
    .intense
        &-headline
            h1
                font-size: 36px
                line-height: 37px
        &-block
            &__text
                font-size: 14px
                padding-left: 9px
                width: 143px
                line-height: 18px
            &__img
                img
                    width: 72px
        &-wrap
            &:last-child
                    margin-left: 20px
    .check-list
        &__wrap
            padding-bottom: 0px
        &-headline
            h1
                font-size: 32px
                line-height: 37px
        &__img
            img
                width: 100%
        &__text
            &__subtitle
                font-size: 17px
                line-height: 21px
            ul
                font-size: 17px
                line-height: 21px
                li
                    &:last-child
                        padding-top: 22px
        &__button
            button
                font-size: 16px
                line-height: 17px
    .results
        padding-bottom: 8px 
        &-wrap
            width: 291px
            margin: 0 auto
        &-headline
            padding-top: 18px
            padding-bottom: 20px
            h1
                font-size: 32px
                line-height: 37px
        &-block
            width: 291px
            padding: 10px
            margin-top: 40px
            &:first-child
                margin-top: 0
            img
                width: 67px
            &__text
                font-size: 16px
                line-height: 18px
                width: 100%
                margin: 0
                padding: 0
    .interesting
        &-headline
            padding-top: 18px
            padding-bottom: 20px
            h1
                font-size: 32px
                line-height: 37px
        &-block
            width: 100%
            &__text
                padding: 27px 24px 25px 50px
                font-size: 13px
                line-height: 14px
            &__subtilte
                font-size: 12px
                line-height: 12px
    .program
        &-headline
            padding-top: 36px
            padding-bottom: 20px
            h1
                font-size: 32px
                line-height: 37px
        &-block
            min-height: 400px
            padding-bottom: 20px
            &__subtilte
                font-size: 20px
            &__text
                font-size: 15px
                padding-bottom: 31px
                &__time
                    img
                        width: 26px
                ul
                    font-size: 15px
                    line-height: 16px
                    min-height: 100%
                    li
                        width: 248px
                        line-height: 21px
                &__result
                    padding-top: 21px
                    font-size: 14px
                    line-height: 17px
        &-subtitle
            h1
                font-size: 24px
@media (max-width: 480px)
    .header
        height: 100%
        background-image: url(../img/bk-sm-header.png)
        background-position: -36px -1px
        h1
            padding-top: 167px
            width: 257px
            margin: 0 auto
            padding-bottom: 10px
        p
            width: 257px
            margin: 1px auto
            line-height: 22px
        &-text
            &__intense
                padding-top: 57px
                font-size: 28px
                width: 242px
                text-align: center
                margin: 7px auto
                line-height: 33px
            h2
                padding-top: 17px
                line-height: 35px
                font-size: 37px
                margin-bottom: 21px
                margin-left: 23px
                width: 328px
            &__create
                    font-size: 16px
                    line-height: 21px
                    width: 194px
                    margin: 0px auto
    .participation
        margin-top: 18px