@import "fonts"
@import "mixins"
@import "header"
@import "participation"
@import "intense"
@import "checklist"
@import "results"
@import "interesting"
*
    padding: 0
    margin: 0
    outline: none
.container
    width: 902px
    margin: 0 auto
.row
    display: flex